[2017-10-17 14:35] vknabel opened #1 "Autocompletion inserts unnecessary dots"
ex: self..engine..createCommandPool()

Originally reported jinmingjian/sde#40

[2017-10-19 15:04] vknabel commented on #1
@renanyoy I couldn't reproduce your issue yet.
Which OS do you use?
Which Swift versions did you use?
When did you compile `sourcekite`?
Is the project open source? In that case I could try to reproduce this issue directly within the same project.

[2017-11-06 10:06] isidorn opened #2 "VSCode is no longer supporting specifiying a commandId in the "initialConfigurations" contribution"
Hi,

We noticed your extension in `package.json` is using a `"initialConfigurations"` contribution in a deprecated way by specifiying a command id.
We wanted to let you know that we plan to delete support for this specific use of "initialConfigurations" soon.
More about this deprecation can be found [here](https://github.com/Microsoft/vscode/issues/33791) and in our release notes.
A good example o

[2017-11-07 21:39] thomas-alrek opened #3 "Swift 4 compatibility?"
I just got the extension setup, and configured SDE correct.
However, I don't get any autocompletion, or syntax error highlightning.

I have Swift 4.0.2. Is it not compatible?

[2017-11-08 15:11] vknabel commented on #3
@thomas-alrek Thank you for your feedback.
I assume you are using SDE in version 2.1.0. If you don't you are probably still using the outdated version this project is based on ([jinmingjian/sde](https://github.com/jinmingjian/sde)), which does not support Swift 4.

In any other case: which OS are you using?
Are you using Xcode's builtin Swift version or did you install one by yourself?
What kind o

[2017-11-08 18:51] thomas-alrek commented on #3
Thanks for the reply.

I am running on macOS 10.13, and have installed Swift 4.0.2 (Apple Swift version 4.0.2 (swiftlang-900.0.69.2 clang-900.0.38)) through XCode.

I have compiled SDE myself, and configured VScode to point to the compiled binary.

I am not working on any specific project, just testing it out. I get syntax highlighting, but no IntelliSense.

[2017-11-08 22:50] vknabel commented on #3
@thomas-alrek After restarting my vscode, I could reproduce your issue. I am going to fix this tomorrow.

[2017-11-10 20:16] vknabel commented on #2
@isidorn Thank you very much for your report! The latest release is now compatible.

[2017-11-10 20:16] #2 closed

[2017-11-10 20:17] vknabel commented on #3
@thomas-alrek Sorry for the delay. Today's release `2.1.1` should fix this issue.
Can you confirm this?

[2017-11-15 19:59] svanimpe opened #4 "Debugging?"
In your Quick Preview, you show the debugger in action. How can I get this working? The link to the hands-on introduction (http://blog.dirac.io/2017/01/11/get_started_sde.html) is broken.

[2017-11-16 08:00] vknabel commented on #4
@svanimpe thank you for your feedback!
Seems like the whole domain is down. I will add some documentation here on Github in order to avoid this case.

Regarding the debugger:
1. Open your SPM project in vscode
2. Open a Swift-file (this will start the extension; will be changed in future updates)
3. Now you can add a configuration `Swift Debug` (if not, simply copy the json into your `launch.json`

[2017-11-16 08:38] svanimpe commented on #4
Hmm. I did this but every time I try to launch, I get the following error: "Debug adapter process has terminated unexpectedly". In the extensions output window, I see:

[code]

My `launch.json` file:

[code]

[2017-11-16 09:27] vknabel commented on #4
@svanimpe the file you are providing must exist.
The debugger currently works best for executables. In case of the Sourcery project you would nee to provide `${workspaceRoot}/.build/debug/sourcery` [krzysztofzablocki/Sourcery/Package.swift#L7](https://github.com/krzysztofzablocki/Sourcery/blob/master/Package.swift#L7).

If you are interested in debugging your unit tests, it is not explicitly suppo

[2017-11-16 09:30] svanimpe commented on #4
The file does exist. I can execute it just fine on the command-line. I assume `${workspaceRoot}` is the project's root directory (where `Package.swift` is)?

[2017-11-16 10:23] vknabel commented on #4
@svanimpe In case your manifest is located at `~/org/project/Package.swift` and you open `code ~/org/project` then `${workspaceRoot}` would be `~/org/project`, but if you would `code ~/org` then `${workspaceRoot}` would only be `~/org`.

Is the project you are working with open source? In that case I could try it on your project myself.

[2017-11-16 10:37] svanimpe commented on #4
Yes I've opened the project's main folder in VS Code, not a parent or subfolder.

My project is simply hello world (`swift package init --type=executable`) to which I've added that launch file you suggested.

[2017-11-16 10:45] svanimpe commented on #4
I have also tried using an explicit path (without using `${workspaceRoot}`) with no success.

[2017-11-16 11:16] vknabel commented on #4
@svanimpe I did try it on my machine, but it worked.
I am running the latest Xcode and tried it with Swift 4.0 and 4.0.2. Are you using linux?

[code]

[2017-11-16 11:50] svanimpe commented on #4
That is exactly what I did, but it doesn't work for me. I get the error listed above.

I am using Xcode 9.1. I also have Swift 4.0.2 installed from swift.org. My VS Code is version 1.18.0

[2017-12-07 08:02] #3 closed

[2017-12-07 08:06] vknabel commented on #4
I did not forget you, but I couldn't reproduce it yet.

[2017-12-08 08:05] vknabel commented on #4
@svanimpe I just released 2.1.2 which might fix your issue. I still couldn‘t reproduce your issue, but by looking at the code I could find a case, that may lead to this behavior.

If this doesn‘t fix the issue for you, let me know.

[2017-12-08 09:27] svanimpe commented on #4
Nope, still `Debug adapter process has terminated unexpectedly`.  I no longer see the the `UnhandledPromiseRejectionWarning`, but debugging still doesn't work.

Do I need up update sourcekite as well? I've only reloaded the plugin to get version 2.1.2.

[2017-12-08 10:10] vknabel commented on #4
@svanimpe There is no new update for `sourcekite`, but maybe it helps.

[2017-12-21 14:44] rootscript opened #5 "Couldn't find a compatible version of Swift Development Environment with this version of Code."
Tried to install SDE 2.1.1 but found:
Error: Couldn't find a compatible version of Swift Development Environment with this version of Code.

I'm running macOS Sierra 10.12.6,
VSCode Version 1.10.2,
Swift version 4.0.3,
Apple Swift Package Manager - Swift 4.0.0-dev.

[2017-12-21 15:50] vknabel commented on #5
@rootscript Thank you for your feedback.
This plugin requires at least Visual Studio Code `1.17.0`, the latest version is `1.19.1`.
Is there any particular reason why you still use `1.10.2`?

[2017-12-25 00:55] rootscript commented on #5
@vknabel thanks for your quick reply. (I'm not sure why VSC 1.10.2 was even open on my machine, very strange)
I just tried SDE 2.1.2 with VSCode1.18.1 and install goes as planned.  Thanks again, for your quick reply.

[2017-12-25 00:55] #5 closed

[2017-12-25 17:44] vknabel commented on #5
@rootscript that‘s great to hear.
I already had the same bug with vscode.
If you have any problems or questions, feel free to open an issue or contact me directly.

[2018-01-09 01:29] strangemonad opened #6 "what's the difference between this one and jinmingjian/sde"
There's obvious similar project history but no clear indication. Has development continued here? Is this a fork?

[2018-01-09 06:06] vknabel commented on #6
@strangemonad jinmingjian/sde has been discontinued and does not support swift 4. und  This fork does support it and I do my best to keep this project alive. See https://github.com/jinmingjian/sde/pull/40

[2018-01-23 10:53] afturner commented on #6
You should really ask jinmingjian to edit his repo or remove it to reflect this. I suggest doing the same with your README cause it's kinda confusing

[2018-01-23 11:53] vknabel commented on #6
@afturner thank you for your feedback. I will open a PR soon.

[2018-02-27 10:29] vknabel opened #7 "missing dependant sourcekite tool, please configure correct "swift.path.sourcekite""
*Previously reported by @JustinMoser in https://github.com/jinmingjian/sde/issues/43*

Hi,
I am unable to use this extension. I am running VS Code on macOS High Sierra, and i get the above error message. This is the output:

[code]

I have run the build / link command as instructed on the sourcekite repo page. From my root directory (HD root):

`> git clone https://github.com/jinmingjian/sourcekit

[2018-02-27 10:51] vknabel commented on #7
@JustinMoser I did move your issue. Thanks for trying this out.

1. Regarding `Incorrect type. Expected "array".`:
`configurations` can include multiple test targets and therefore requires an array. You provided a string. The `launch.json` should contain something similar to

[code]

2. Regarding `please configure correct "swift.path.sourcekite"`:

If I understand you correctly, your working direc

[2018-02-27 13:28] JustinMoser commented on #7
Hi!
Thanks so much for your reply, no my sourcekite clone is in ~/sourcekite currently. I changed the entry in my user settings to `"swift.path.sourcekite": "~/sourcekite/.build/debug/sourcekite"` however I am still receiving the same error above (regarding configuring a correct sourcekite).

The output has now changed to:

[code]

Thank you!

[2018-02-27 13:50] vknabel commented on #7
@JustinMoser your absolute path with `/Users/justinmoser/sourcekite/.build/debug/sourcekite` has been correct. The expansion of `~` to `/Users/justinmoser` does not work within this setting.

Sometimes you may need to close and reopen your vscode window after editing the settings to restart the extension. Maybe that's the problem?
If you paste `which /Users/justinmoser/sourcekite/.build/debug/sour

[2018-02-27 14:03] JustinMoser commented on #7
@vknabel thank you so much this seems to have fixed my issues! :)

[2018-02-27 14:22] vknabel commented on #7
@JustinMoser great to hear!

[2018-02-27 14:49] JustinMoser commented on #7
@vknabel apologies! It actually hasnt....

It says build succeeded at the bottom of VSC but im still getting the error regarding the configuring a correct sourcekite. (with the output above!)

I also get the following error:

`The Swift server crashed 5 times in the last 3 minutes. The server will not be restarted.`

Sorry about this!

[2018-02-27 14:58] JustinMoser commented on #7
@vknabel Ah! it was because I changed the sourcekite path back to the relative path with the ~/sourcekite path instead. When I use the absolute path it works fine.

Also - for the debug configuration, the end path of in your example is "path-to-program-debugged" and in the root of .build/debug/ there is a test_swift_project file, so I have set the key as:

`"program": "${workspaceRoot}/.build/debu

[2018-03-07 12:05] LinusU commented on #6
Yeah, this took me quite some time to figure out 😄

Would be awesome to update the readme 👍

[2018-03-08 16:26] vknabel commented on #7
@JustinMoser does the debugging start or will it always display a loading indicator?
What happens if you add a breakpoint for `print("Hello, world!")`?

[2018-03-09 19:09] vknabel commented on #7
@JustinMoser as I found out (thanks @renanyoy) the best possibility for debugging Swift probably is [LLDB Debugger](https://marketplace.visualstudio.com/items?itemName=vadimcn.vscode-lldb).

Below an example configuration. I also included a `preLaunchTask` which will compile your project.
[code]

[code]

[2018-03-09 19:09] #7 closed

[2018-03-09 20:21] vknabel commented on #6
I did update the readme and the title to make it more clear, which extension is currently maintained until the original project will be modified.

[2018-03-09 20:24] vknabel commented on #4
@svanimpe As stated in [README.md#Debugging](https://github.com/vknabel/vscode-swift-development-environment#debugging) I deprecated the debugger as there is a better and more stable alternative called [LLDB Debugger](https://marketplace.visualstudio.com/items?itemName=vadimcn.vscode-lldb).

[2018-03-09 20:24] #4 closed

[2018-03-09 20:25] vknabel commented on #1
Close as it could not be reproduced and due to inactivity

[2018-03-09 20:25] #1 closed

[2018-03-12 12:29] LinusU opened #8 "Autocompletion of UIKit"
I'm not 100% sure that it's specifically UIKit that is the problem, but I'm having problems with autocomplete not giving any relevant suggestions e.g. when writing `self.` inside a class that inherits from e.g. `UIView`.

Unfortunately, this is the majority of my code so I'm currently coding without proper autocompletion 😱

I'd be happy to help in any way I can, be that more investigation, or gett

[2018-03-12 12:44] vknabel commented on #8
@LinusU actually this affects all third party APIs. Only your own code will be autocompleted.

I will have a deeper look on the current state of possibilities and report it in here.

[2018-03-12 16:12] vknabel commented on #8
@LinusU within the latest commit, I could make autocompletion for `AppKit` work. If you can make compilation of a single swift file which uses `UIKit` work, we could theoretically support it in here. The problems are the different target and SDK.

Then we would need to slightly refactor `loadArgsImportPaths` to be configurable and we could ship it. (Maybe I will release the AppKit and fixes releas

[2018-03-12 16:52] LinusU commented on #8
Awesome 👍

I'm currently not using `swift build` directly, but are using `xcodebuild` together with a generated Xcode-project. Here is the setup: https://github.com/LinusU/Soon

You can make it print the `swiftc` invocations, so I might be able to narrow everything down to a single call to compile one small file.

[2018-03-12 17:08] LinusU commented on #8
I've managed to narrow it down to this quite simple invocation:

[code]

This is my `main.swift`, just to test:

[code]

It seems like `-sdk` can be specified multiple times, so maybe it's just a matter of adding that path as well? 🙌

[2018-03-13 20:04] vknabel commented on #8
@LinusU Hi I got working autocompletion for UIKit 🎉

In order to get autocompletion for UIKit, you need to add `"sde.sourcekit.compilerOptions": ["-target", "arm64-apple-ios11.0"]` to the workspace settings and restart your vscode window.

Could you try it out before I publish it?
[vscode-swift-development-environment-2.2.0.vsix.zip](https://github.com/vknabel/vscode-swift-development-environment/

[2018-03-14 10:48] LinusU opened #9 "Class function autocomplete"
When accepting autocomplete for an override function, the `func` keyword gets added twice, resulting in broken code.

e.g. with this code:

[code]

and having the cursor after `func vie` and choosing `viewDidAppear(_ animated: Bool)` results in the following code:

[code]

[2018-03-14 10:49] LinusU commented on #8
Awesome! It works!!

Just found one small issue, that is probably not related though: https://github.com/vknabel/vscode-swift-development-environment/issues/9

[2018-03-14 11:02] vknabel commented on #8
Great to hear! I just released the 2.2.0 update including this change!
Thank you for being such a great help.

[2018-03-14 11:02] #8 closed

[2018-03-14 11:03] LinusU commented on #8
No problem at all, thank you for the incredible work 🚀

[2018-03-14 12:24] vknabel commented on #9
@LinusU Thanks for your feedback. I had a deeper look on that, but it does not seem to be fixed as easy as initially thought.

**Details:** According to [SourceKit/docs/Procol#code-completion](https://github.com/apple/swift/blob/master/tools/SourceKit/docs/Protocol.md#code-completion), I just need to pass SourceKit's `key.num_bytes_to_erase` to `vscode-languageserver`'s `CompletionItem.additionalT

[2018-03-14 12:35] LinusU opened #10 "Cannot read property 'key.filepath' of undefined"
[code]

I'm not exactly sure what triggered this, but it happened while trying to autocomplete `internal let valet: Val...` in the code below:

[code]

Both `PromiseKit` and `Valet` are installed as dependencies with Swift Package Manager.

[2018-03-14 21:56] vknabel commented on #10
@LinusU probably your autocompletion did stop working and did work after restarting vscode again?

[2018-03-15 11:51] LinusU commented on #10
I also got this error:

[code]

Yes, I tried restarting it now and it seems to be working again 😄 (yeah I have been working for 24h without code completion 😆 😱)

[2018-03-15 20:46] vknabel commented on #10
@LinusU in that case I found the where the error starts manifesting. Although I don‘t know its exact reason yet. Either it’s the classic „SourceKit has been terminated“-error as known by Xcode or it’s a race condition within this extension.

This produces a bunch of slightly different error messages. But at least there is a temporary workaround (restarting).

In general if this extension behaves s

[2018-03-17 10:41] vknabel opened #11 "Display documentation on Hover"
When hovering over classes or functions, no documentation will be displayed, but the autocompletion does.

Should look as follows
![documentation](https://user-images.githubusercontent.com/2100336/37554470-776e6626-29d9-11e8-8246-42c7160a519c.png)

[2018-03-17 10:55] vknabel commented on #10
@LinusU can you have a look on the following build? Unfortunately the error didn't occur since then.
This build additionally contains hover documentation as proposed in #11.

[vscode-swift-development-environment-2.3.0.vsix.zip](https://github.com/vknabel/vscode-swift-development-environment/files/1821516/vscode-swift-development-environment-2.3.0.vsix.zip)

[2018-03-17 19:04] vknabel commented on #9
@rudedogg Probably yes. Can you provide some example code where it happened to you? Are you a Mac or a Linux user?

[2018-03-17 19:36] LinusU commented on #9
@vknabel is this fixed? In which version? I would love to test it out ☺️

[2018-03-17 19:51] LinusU commented on #10
Downloading and trying out now 👌

[2018-03-17 19:54] vknabel commented on #9
@LinusU no sorry. I accidentially Hit the wrong Button 🙈

[2018-03-17 20:14] LinusU commented on #9
Hehe, I almost guessed that 😄 no problem!

[2018-03-17 20:17] LinusU commented on #10
Hmm, seems like I got a very similar error:

[code]

It happened when I edited `self.window = ...` to read `let window = ...` in this code:

[code]

[2018-03-17 22:15] vknabel commented on #10
@LinusU good catch! Was actually related to #11 and occured if there is no documentation like in your `window`.

[vscode-swift-development-environment-2.3.0.vsix.zip](https://github.com/vknabel/vscode-swift-development-environment/files/1822147/vscode-swift-development-environment-2.3.0.vsix.zip)

[2018-03-18 02:09] rudedogg commented on #9
Hey @vknabel, can you try this:

![screen shot 2018-03-17 at 8 06 49 pm](https://user-images.githubusercontent.com/2127629/37561842-efb90650-2a1e-11e8-9197-242433793ef1.png)

[Press Enter for the completion]

![screen shot 2018-03-17 at 8 07 24 pm](https://user-images.githubusercontent.com/2127629/37561843-f38bffc6-2a1e-11e8-96be-b52bffc44460.png)

Let me know if you can reproduce, if not I'll fin

[2018-03-18 12:02] vknabel commented on #9
@LinusU here is another build. It should fix your `func` issue.
@rudedogg I still couldn't reproduce it and I guess this may be related to a different setup, because @renanyoy did have this problem a while back, too. I included a workaround that hopefully fixes your `..` issue, too.

[vscode-swift-development-environment-2.3.0.vsix.zip](https://github.com/vknabel/vscode-swift-development-environme

[2018-03-31 17:46] rudedogg commented on #9
Sorry for the really late reply. VS Code was laggy for some reason on my Hackintosh, but new graphics drivers were released so it's running a lot better.

I tried the 2.3.0 VSIX release you linked, and it fixes the double dot`..` issue when accepting a completion candidate 🎉 !

[2018-03-31 21:37] vknabel commented on #9
@rudedogg well in that case: I just released 2.3.0.

[2018-03-31 21:37] #9 closed

[2018-03-31 21:38] #10 closed

[2018-03-31 21:38] vknabel commented on #10
Fixed in 2.3.0

[2018-03-31 21:39] vknabel commented on #11
Initial implementation in 2.3.0

[2018-03-31 21:39] #11 closed

[2018-04-09 13:13] alexandru-calinoiu opened #12 "Error message running on swift 4.1"
I am trying the extension with swift 4.1 and VSCode 1.22.1 on Ubuntu, but I get the following error:

[code]

[2018-04-09 19:37] vknabel commented on #12
@alexandru-calinoiu thanks for the feedback!
Did you upgrade to Swift 4.1 after initially installing `sourcekite`? In that case you might have to recompile it.

Did the autocompletion completely stop after initially getting this error? Does a vscode restart help (at least temporarily and as a workaround)?

In case it is project related: is the project open source or can you reproduce your issue in

[2018-04-15 19:29] thomas-alrek opened #13 "No autocomplete on Swift 4.1"
I just installed this extension and compiled Sourcekite.
I get correct syntax highlighting, but the autocompletion/IntelliSense seems to be broken.

If i type a function name, I do not get autocompletion for the various function arguments.

This is on Swift 4.1 (swiftlang-902.0.48 clang-902.0.39.1).
I do not get any errors in the debug console.

[2018-04-16 07:41] vknabel commented on #13
Thank you for trying this extension out and for your feedback.

As temporary workaround: a vscode restart may help.

Are you using macOS or Linux? (There are some differences within the setup)
Can you add some example code that break autocompletion for you?

[2018-04-18 11:07] LinusU opened #14 "Go to definition not working"
<img width="446" alt="screen shot 2018-04-18 at 12 06 24" src="https://user-images.githubusercontent.com/189580/38928490-eed96fd6-4300-11e8-9dc1-3e6cb3a3e8f7.png">

Getting this message when trying to right click and chose "Go to definition". The class is defined in another file in the same project. I have also tried it with classes defined in the same file, same error.

[2018-04-18 18:17] vknabel commented on #14
@LinusU did you use any import statements, that you don't get any completions or hovers for?
In that case this may be related to another issue, where sourcekit does not emit type information for (some) imports.

[2018-04-18 20:06] LinusU commented on #14
Nothing other than UIKit, the file was simply another file in the same project. Oh, I should probably have mentioned, this is not a SPM project, but an Xcode one, maybe that's the culprint?

[2018-04-18 22:15] vknabel commented on #14
I have fixed the problem I meant, but your problem seems to be a different one.

There were two issues:
1. Imports were not working correctly. (Mostly affected SPM)
2. Your issue. (Probably: your swift files are not indexed together)

[2018-04-18 22:55] antgly opened #15 "Can't get autocomplete for WatchOS to work"
Adding "armv7k-apple-watchos4.3" to the workspace setting options as a target doesn't seem to allow autocompletion for WatchKit. Tried it with "armv7k-apple-watchos4" and "armv7k-apple-watchos4.0" as well. I've also tried it with the Swift.org Swift 4.3 toolchain and the built-in Xcode one. UIKit autocompletion for iOS works fine though.

[2018-04-19 07:25] vknabel commented on #13
@thomas-alrek does your situation improve with [2.3.1-beta.0](https://github.com/vknabel/vscode-swift-development-environment/releases/tag/2.3.1-beta.0)?. You need to download it from Github and install it locally.

Though completion for function argument names is not included yet.

[2018-04-19 09:48] thomas-alrek commented on #13
@vknabel I will test it later and give you some feedback

[2018-04-19 09:51] LinusU commented on #14
Awesome as always! Thank you ❤️

[2018-04-19 09:54] LinusU commented on #14
🙏 🙏 🙏 🙏

[2018-04-20 10:38] LinusU opened #16 "Wrong color for parameter named "continue""
<img width="381" alt="screen shot 2018-04-20 at 11 35 51" src="https://user-images.githubusercontent.com/189580/39046755-2f70be34-448f-11e8-8491-4723a325ae94.png">

Pasted in the following:

[code]

and started googling what the `continue` keyword meant for a function parameter 😂

[2018-04-20 15:46] vknabel commented on #16
The syntax highlighting itself comes from vscode and is built in.
It even worked on a linux VM without swift or this extension installed.

But I don't know where you need to open the issue.
Maybe they use [textmate/swift.tmbundle](https://github.com/textmate/swift.tmbundle)?

[2018-04-20 15:57] LinusU commented on #16
Let's try 😀

[2018-04-20 15:58] LinusU commented on #16
textmate/swift.tmbundle#34

[2018-04-20 15:58] #16 closed

[2018-04-21 09:09] vknabel commented on #15
Released as [2.3.1](https://github.com/vknabel/vscode-swift-development-environment/releases/tag/2.3.1)

[2018-04-21 09:12] vknabel commented on #14
Released as [2.3.1](https://github.com/vknabel/vscode-swift-development-environment/releases/tag/2.3.1).
Will now scan the repo for swift files on startup.

[2018-04-21 09:12] #14 closed

[2018-04-21 09:13] vknabel commented on #13
The potential fix is not released as [2.3.1](https://github.com/vknabel/vscode-swift-development-environment/releases/tag/2.3.1)

[2018-04-21 15:24] alexandru-calinoiu commented on #12
I had a fresh install of swift 4, vs code restart does not work :(

The project is just the template of the [perfect framework](https://www.perfect.org/)

[2018-04-22 20:24] antgly opened #17 "Doesn't recognize Operation from Foundation - only recognizes NSOperation"
I've even set a compiler flag for Swift 4.1 and I'm still not getting Operation recognized as a valid class.

[2018-04-23 06:10] vknabel commented on #17
Thanks for filing an issue!
Do you mean the fact that `NSOperation` is colorized but `Operation` not?
Syntax highlighting is not handled by this extension and is part of vscode itself. More details [here](https://github.com/textmate/swift.tmbundle/issues/34#issuecomment-383435383).

Just in case you meant autocompletion: the extension warns about using `NSOperation` as it has been deprecated. In t

[2018-04-24 09:29] antgly commented on #17
That might be the case upsettingly. Haven't delved into it too much but my Swift compiler vscode extension settings didn't do me any good.

[2018-04-24 09:31] antgly opened #18 "Console error logs"
I think it would be great if we could post our error logs somewhere. There's no way that I'm going to pay ~ $20 a month for AppCode.

[2018-04-24 09:33] antgly commented on #18
I get multiple since I've had this extension installed even when I'm getting desired output. My point is that Xcode sucks and we need the robustness that Microsoft's (am I dreaming?) VSCode provides.

[2018-04-24 12:01] vknabel commented on #18
Yes. Currently this extension logs too much and particularly irrelevant information.
My current goal for this project is to get it more stable and easier to use. I think this is definitely part of it.

You can just add comments to this issue (if everything still works) or create new ones (if something does not work). If you wish some more features, you can just create an issue.

[2018-04-26 22:13] sbromberger opened #19 "Getting error on save"
I've installed the extension and sourcekite, but whenever I save my swift file, I get

[code]
in the output pane. Any ideas?

[2018-04-27 04:43] sbromberger commented on #19
With `"sde.enableTracing.LSPServer": true`, I see the following output in console:

[code]

This doesn't look like valid JSON since the strings are not quoted. (Of course this could be completely unrelated.)

[2018-04-27 04:55] sbromberger commented on #19
when
`"editor.formatOnSave"` is set to `false`, the error goes away. However "format document" appears to be broken for this extension. Is this deliberate?

[2018-04-27 07:27] vknabel commented on #19
Thanks for filing an issue and investigating on this!
Yes, the output is YAML but has been parsed as JSON (with some intermediate regex mutations in between). This part came from a previous maintainer and until now it has worked far better than expected.
I will do some small refactorings and have some additional testing before releasing the fix this weekend.

[2018-04-27 14:26] sbromberger commented on #19
Thank you for looking into this, @vknabel! I'm excited to have really good swift support in VSCode (XCode is too buggy and unwieldy for me.) Let me know if you need me to test anything.

Right now, with your plugin and SwiftLint, I've got most of what I need. What I'd really like is a working "format / lint on save", which I guess will be fixed soon.

[2018-04-27 15:01] vknabel commented on #19
Currently this plugin uses Swift's builtin formatter, which is really basic and will effectively only set the tabsize to 4 spaces. The planned offical swift-format is still WIP and not built by default yet. AFAIK the best formatter for swift code is [nicklockwood/SwiftFormat](https://github.com/nicklockwood/SwiftFormat) which does only support macOS but not Linux.

As I want to keep this plugin as

[2018-04-27 15:49] sbromberger commented on #19
That's awesome; thank you for the info and the config. Here's my debugging config in case it helps anyone else:
[code]

and the `swiftc with debug` build script:
[code]

[2018-04-27 20:46] sbromberger opened #20 "Build error"
Not sure whether this is related to this plugin, but I'm getting ` expressions are not allowed at the top level` errors from a brand new library creation (via `swift package init --type=library`). The only content is boilerplate:
[code]

Any ideas on what the problem might be?

[2018-04-27 22:15] sbromberger commented on #20
Fixed - but not quite sure how.

[2018-04-27 22:15] #20 closed

[2018-04-28 09:08] vknabel commented on #20
This behavior sounds weird. If this this happens again, you can reopen this issue and I will have a deeper look.

[2018-04-28 09:41] vknabel opened #21 "Automatically manage Sourcekite within SDE"
Currently each user has to install [sourcekite](https://github.com/vknabel/sourcekite) manually, which takes time and effort. Ideally SDE should automatically download sourcekite and build it against the current Swift version.

**Problems:**
* Users will change their Swift versions
* The Toolchain does not always have the same location
* There may even exist multiple toolchains (e.g. swiftenv)
* U

[2018-04-28 09:45] vknabel opened #22 "Replace deprecated Debugger with LLVM Debugger"
SDE should provide some templates for the LLVM debugger and prelaunch tasks optimized for Swift.
When possible debugging unit tests shall be supported on macOS and Linux.
The LLVM debugger should automatically be installed as extension using `extensionDependencies`.

This would break existing clients with own SDE debugging configs.

[2018-04-28 09:51] vknabel commented on #19
Thank you for your configs and your feedback.
I opened two issues targeting the one-step installation with my thoughts on this.
Though these are long term goals and I would be really happy if they were finished this year.

[2018-04-28 09:59] vknabel commented on #21
A good first step on this would be to create a script that will properly installs sourcekite on all targets.

[2018-04-28 10:15] vknabel commented on #12
What happens if you do the following on your bash? The `/path/to/your/sourcekite` should be included within your vscode settings as `"swift.path.sourcekite": "/path/to/your/sourcekite"`.
Does your path contain any special characters like spaces?

[code]

Do you receive the following output? If so sourcekite would be set up properly.

[code]

[2018-04-28 10:25] vknabel opened #23 "Question: Should this extension include SwiftFormat?"
The current code formatting is quite limited, but it works on Linux and macOS in the same way.

We could theoretically use [nicklockwood/SwiftFormat](https://github.com/nicklockwood/SwiftFormat) to handle the code formatting, but in that case Linux and macOS formatting would differ as [nicklockwood/SwiftFormat](https://github.com/nicklockwood/SwiftFormat) does not support Linux.

As far as I can s

[2018-04-28 11:15] LinusU commented on #23
I've wanted to start using SwiftFormat, it seems awesome 🙌

Personally, I'm not a fan of bundling too many things together. The downside I see of adding it to this package would be that if there ever comes around another tool, it could be hard to try that one out without conflicting with this installation.

One thing that could be very cool, not sure if it's easy to do though, would be to have mul

[2018-04-28 18:26] vknabel commented on #23
Thanks for your opinion!
I am not a big fan of putting too much together either. That was actually the reason why I created this issue. In my eyes this extension is responsible to just porting the features of SourceKit to vscode, but it’s formatting is indentation only and hence quite limited. If there is another extension for better formatting, it‘s enough.

I really love your idea of having many

[2018-05-02 16:34] LinusU opened #24 "Builtin "swift build" command invalidates cache for global command"
Whenever I save a file in an SPM project, `swift build` will automatically be run. After that has happened, running `swift test` from my terminal rebuilds all dependencies and the source.

This is not the case if I just run `swift build` and then `swift test` straight from my terminal.

I can also see the issue in reverse, that is, after I have run `swift build` or `swift test` from the terminal,

[2018-05-02 21:09] vknabel commented on #24
Thank you for opening the issue. I have experienced this myself, too.
I guessed that `/usr/bin/env swift` is not exactly the same swift SDE used as I usually use swiftenv, but SDE does not and I have a global config for that.
Although I have never validated this assumption.

It would be awesome if you could play a bit around with the `swift.path.swift_driver_bin`-setting or even debug a bit becaus

[2018-05-03 09:36] LinusU commented on #24
Hmm, the only swift I'm using is `/usr/bin/swift`, as far as I know I don't have multiple versions installed.

The strange thing is, as far as I can tell, this package just `spawn(swiftBinPath, ['build'])` and I've just set `swiftBinPath` to `/usr/bin/swift`. It should be exactly the same, but for some reason, the cache gets invalidated 🤔

Will try to investigate some more...

[2018-05-05 07:05] vknabel commented on #24
That seems strange. Maybe there are some relevant differences within the environment?
Maybe setting the path to the expansion of `/Applikations/Xcode.app/**/bin/swift` helps?
But besides that, I’ve got no idea yet.

[2018-05-23 07:32] #15 closed

[2018-05-25 06:58] vknabel commented on #24
@LinusU I could not find a solution on this by now. As a workaround we could add a new setting to allow passing a custom build path if this issue becomes too big.

This would additionally help others who want to automatically build their tests like https://github.com/jinmingjian/sde/pull/32, too.

[2018-06-02 08:27] vknabel commented on #24
The workaround landed in [2.4.0](https://github.com/vknabel/vscode-swift-development-environment/releases/tag/2.4.0).

[2018-06-02 09:54] vknabel opened #25 "Allow exchanging the underlaying Language Server"
It shall be possible to let users select the language server of their choice as all LSP implementations have their benefits and we explicitly do not want to compete.

Especially [RLovelett/langserver-swift](https://github.com/RLovelett/langserver-swift/tree/master/Sources/BaseProtocol) should be supported additionally to our internal TS/Sourcekite implementation.

[2018-06-02 09:56] vknabel commented on #23
Closed in favor of vknabel/All-in-One-Swift-for-vscode#1

[2018-06-02 09:56] #23 closed

[2018-06-02 09:58] vknabel commented on #17
Closing in favor of https://github.com/vknabel/All-in-One-Swift-for-vscode/issues/4

[2018-06-02 09:58] #17 closed

[2018-06-02 10:00] vknabel commented on #22
Debugger should be removed after https://github.com/vknabel/All-in-One-Swift-for-vscode/issues/3

[2018-06-02 14:28] literalpie commented on #13
I am having this issue with 2.3.1, and 2.3.1-beta.0 (I think I installed it right)

I notice that if I add an eroneous character to the path of `swift.path.sourcekite`, it does not change the behavior at all (I would expect some sort of error if it's not finding the correct files).

I followed the instructions in [this comment](https://github.com/vknabel/vscode-swift-development-environment/issues

[2018-06-03 18:54] vknabel commented on #13
@literalpie @thomas-alrek ok, fixed it with the officially released [2.4.1](https://github.com/vknabel/vscode-swift-development-environment/releases/tag/2.4.1). Sorry for the delay.

**More Detailed:**
The language server did immedeatly crash in prod builds, but worked fined in dev builds.
I accidentially marked a runtime dependency as dev dependency in https://github.com/vknabel/vscode-swift-deve

[2018-06-03 18:57] vknabel commented on #13
I will keep this open until someone can confirm the fix.

[2018-06-03 20:48] literalpie commented on #13
It is fixed for me! thank you very much

[2018-06-03 21:18] #13 closed

[2018-06-04 20:43] dcartman commented on #12
I'm running on macOS, swift 4.1, compiled source kite with swift 4.1, updated to most recent version of MSDE (2.4.3).

Pointing at the debug build of sourcekite I am getting these errors:

/Users/daniel/.vscode/extensions/vknabel.vscode-swift-development-environment-2.4.3/out/src/server/sourcekites.js:88
                throw new Error("wrong format for reqid");
                ^

Error: wrong for

[2018-06-04 20:46] dcartman commented on #12
Before updating the latest version of MSDE, autocompletion was not presenting any results or errors.

If I run sourcekite from the command line, I'm getting this output:

~/Repos/sourcekite/.build/x86_64-apple-macosx10.10/debug/sourcekite
|||[main.swift:34] sourcekite - sourcekitd_initialize
1
|||[main.swift:42] sourcekite - state: endRequest
|||[main.swift:43] sourcekite - input: 1
|||[main.swift

[2018-06-05 06:51] vknabel opened #26 "Wrong format for Request Id"
_Issue originally reported by @dcartman in https://github.com/vknabel/vscode-swift-development-environment/issues/12#issuecomment-394492671_

I'm running on macOS, swift 4.1, compiled source kite with swift 4.1, updated to most recent version of MSDE (2.4.3).

Pointing at the debug build of sourcekite I am getting these errors:

[code]

Before updating the latest version of MSDE, autocompletion wa

[2018-06-05 06:53] vknabel commented on #26
Just to be sure: you didn't install any beta, right?
Does it solve your problem when you compile sourcekite with `-c release`?

[2018-06-05 06:53] vknabel commented on #12
Moved this into #26

[2018-06-05 16:51] dcartman commented on #26
Thanks.

Compiling with '-c release' fixes the error, and I'm now seeing autocompletion and source comments for built-in classes, and classes in my project.

Is source kite supposed to be reading through the swift package dependencies?

[2018-06-06 07:15] #26 closed

[2018-06-13 03:20] iAbdullah opened #27 "Can't get autocomplete for dependencies"
I am using swift package (SPM) with dependencies such as PerfectHTTPServer. is there any configuration I need to do to make autocomplete work?
Swift 4.1.2 and 4.0.3

[2018-06-16 22:56] vknabel commented on #27
Hi. Sorry for the late response. Actually just opening the project should be sufficient. I will have a look on this.

[2018-06-17 11:29] joscdk commented on #27
Hi, @vknabel just fyi, i am just playing around with this plugin as an alternative to Xcode for development on Vapor, and facing the samme issue with no autocomplete from dependencies (In this case various Vapor plugins)

[2018-06-21 18:14] vknabel commented on #27
I have experienced the same, too. Although this seems to depend on the external module itself. Some dependencies worked fine for me while others did not.
This seems to reach back to SourceKit itself. But as we know of Xcode, this should definitely be possible.

[2018-06-22 21:40] carlca opened #28 "Build problems win CLI Swift app"
[code]
Hello, I have setup my system following this guide https://forums.swift.org/t/vscode-settings-for-swift/12216 and as you can see it include MSDE.

I'm trying to debug a simple CLI Swift app which has the usual Swift folder structure. When I hit the green run button, the first thing I see is this message...

![screen shot 2018-06-22 at 22 29 30](https://user-images.githubusercontent.com/2606

[2018-06-23 10:44] vknabel commented on #28
If you do not regular switch between different swift versions, picking the latter option was correct!

[2018-06-23 20:17] troyibm opened #29 "Configured debug type 'lldb' is not supported."
I've followed the instructions on https://marketplace.visualstudio.com/items?itemName=vknabel.vscode-swift-development-environment#overview

One that I think is wrong with the doc is the comments on the launch.json file..

![image](https://user-images.githubusercontent.com/19195331/41813264-25f80330-76f8-11e8-8484-b7d721f07f7b.png)

the `launch.json` and `tasks.json` go in a `.vscode/` directory,

[2018-06-23 20:51] carlca commented on #28
Thanks, Valentin! With your help, I've now got syntax-highlighting, program execution and debugging all working in VSCode. Yay! Congratulations on your victory against Sweden, by the way, but you left it a bit late, didn't you 😉

[2018-06-23 20:51] #28 closed

[2018-06-23 20:55] troyibm commented on #29
I've quit VSCode and restarted and that doesn't fix the problem.

[2018-06-23 21:00] troyibm commented on #29
Doh.. I missed that we need to install the CodeLLDB extension too.

![image](https://user-images.githubusercontent.com/19195331/41813588-4d92c870-76fe-11e8-900b-bca404753ccd.png)

Never mind...
and thanks for taking over this project.  I hate Xcode cause it doesn't have a vi keybindings built-in.

[2018-06-25 11:34] vknabel commented on #29
Hi. Thanks for opening the issue.

Thanks. I just updated the readme.

Great to head :)

[2018-06-25 11:34] #29 closed

[2018-06-25 11:45] vknabel commented on #28
Happy to help 👍

Thanks. The best comment on the game: https://twitter.com/GaryLineker/status/1010612676530196480

[2018-06-29 08:58] xx-li opened #30 "Error: spawn ~/sourcekite/.build/x86_64-apple-macosx10.10/release ENOENT"
### env
- mac os 10.13.4
- xcode 9.4.1
- vs code 1.24.1

when open swift file, appear error:

[code]

[2018-07-02 06:16] vknabel commented on #30
Did you set the sourcekite path to `/Users/lixinxing/sourcekite/.build/x86_64-apple-macosx10.10/release/sourcekite` or `~/sourcekite/.build/x86_64-apple-macosx10.10/release`?

The path must be absolute (use `/Users/lixinxing` instead of `~`) and it must include the name of the compiled executable (e.g. `release/sourcekite`)

If the doesn’t fix your issue, what happens if you directly run `/Users/l

[2018-08-20 12:43] VojtaStavik opened #31 "Can't run the extension: "Starting client failed""
#### What I did:
- I installed the extension version `2.4.3.`
- I built `sourcekite` as described in the readme
- I put the correct SourceKite path for the `swift.path.sourcekite` key

However, when I open a swift file, the autocompletion doesn't work and I see this in the output pane:
[code]

I'm not sure how to debug what's wrong. Any ideas please?

[2018-08-21 02:26] akdor1154 commented on #31
Need to change `engines` to vscode 1.26+, and update vscode-languageserver and vscode-languageclient to 5.x.

[2018-08-21 12:29] vknabel commented on #31
Sorry for the late response. I currently have quite a lot to do.

@akdor1154 thank you very much! I updated the dependencies and released an update.

@VojtaStavik @akdor1154 can you confirm your issue has been fixed?

[2018-08-21 12:41] VojtaStavik commented on #31
@vknabel Thank you very much for a for the quick fix! Everything seems to be OK 👍

[2018-08-21 12:41] #31 closed

[2018-08-21 15:31] yeswolf commented on #27
I think I can shed some light here. To have autocompletion for dependencies (and any SourceKit request working correctly for them), it's critical to have almost the same compiler arguments as compiler uses for building the project. Plus we need some additional args for taking dependencies into account. How can we achieve it:

1. Get the information from .yaml inside the build folder (same approach

[2018-08-24 14:56] vknabel commented on #27
@yeswolf thank you a lot for your help! Sorry for the late response, but didm't enough time to actually work through your comment.

Once I have enough time, I will definitely dive deeper into this!

[2018-08-28 14:24] yeswolf opened #33 "Debugging tests"
We can debug tests in the following way:

1. Add

[code]
to ```tasks.json```

2. Configure the following task in ```launch.json```:

[code]

Haven't tested it on Linux, but I think that only path to the xctest executable will be different.

[2018-08-30 20:01] vknabel commented on #27
In order to apply the changes @yeswolf proposed, I needed to refactor how SDE handles modules/targets (otherwise it would've get too messy).

Additionally I added a new `swift.targets` setting as described in [9510d22/CHANGELOG.md#2.5.0](https://github.com/vknabel/vscode-swift-development-environment/blob/9510d2299567a4b8ed1e808078242da5d69d7602/CHANGELOG.md#250), which allows to declare and overr

[2018-08-30 20:28] #33 closed

[2018-08-30 20:29] vknabel commented on #33
Thank you very much @yeswolf!

[2018-09-01 10:35] vknabel commented on #19
@sbromberger as you might be interested:
I created a vscode extension for SwiftFormat
https://github.com/vknabel/vscode-swiftformat

[2018-09-09 11:17] Luro02 opened #35 "how are you supposed to install this extension on linux?"
I already built the sourcekite dependency and I think it is working, (how do I test it?). I also set my path's according to the readme, ![screenshot of my settings.json](https://i.imgur.com/ozTAfFp.png)
[code]
but I still don't have linting support. maybe someone can help me? I also attached the built sourcekite binary onto this issue. Thanks in advance :)
[sourcekite.zip](https://github.com/vknab

[2018-09-10 07:58] vknabel commented on #35
Thanks for your report.
If you have "Maintained Swift Development Environment" installed and it does not throw any errors when editing Swift files, it should be installed correctly.

This extension mostly adds autocompletion. What exactly do you mean by linting?
* SwiftLint (line-length, variable naming)? Requires a separate vscode extension.
* Compiler warnings/errors (syntax, types, deprecations

[2018-09-10 09:29] Luro02 commented on #35
thanks for the response, my problem is, that I don't see any compiler errors under my code and I also don't have the recommended functions thing. The command above doesn't output anything at all! I built it with the commands, that travis uses.![](https://i.imgur.com/kfqE7LR.jpg)
I also built the debug version and it ouputs the following:
[code]

[2018-09-10 09:38] vknabel commented on #35
Sorry for the wrong snippet. My ZSH replaced `\n` with newlines while bash doesn't.

The correct bash command would be:

[code]

[2018-09-10 10:06] vknabel commented on #33
Debugging UITests would be interesting (and I would be happy to link any solution for this), but I am sorry to say, that I do not know enough about debuggers and especially about debugging iOS apps.

Maybe the idea proposed in https://github.com/vadimcn/vscode-lldb/issues/95 may help? Alternatively one could find out how [ios-deploy](https://github.com/ios-control/ios-deploy) works internally and

[2018-09-10 10:07] #24 closed

[2018-09-10 10:11] Luro02 commented on #35
the command above is working, so it is most likely related to the vscode installation itself, for example ctrl+shift+i outputs "there is no document formatter for swift files installed"

[2018-09-10 11:54] vknabel commented on #35
That's weird. I never saw an error like this. Did you try a reinstall?

If it doesn't help, does manually setting `swift.path.shell` to your bash solve your problem?

[2018-09-10 12:53] vknabel commented on #6
I guess I can close this issue. There isn't anything we could do now.

[2018-09-10 12:53] #6 closed

[2018-09-10 13:00] #27 closed

[2018-09-10 13:01] vknabel commented on #12
Should be fixed by #34. If not re-open or create a new issue

[2018-09-10 13:01] #12 closed

[2018-10-03 18:17] vknabel commented on #35
Thank you very much for your feedback!

The snippet you showed is not responsible for this issue. Type annotations in typescript are essentially just comments and have no runtime impact. Additionally the arguments are not used.

Interesting! Glad to know that there is a workaround! I will have another try on that.

In theory this should work the same for workspaces and simple folders. And on macOS

[2018-10-03 18:27] vknabel commented on #35
Were you using the debugger from this extension? If so you should better rely on LLDB Debugger as described in https://github.com/vknabel/vscode-swift-development-environment#debugging.

[2018-10-03 19:46] mtancock opened #37 "missing dependant sourcekite tool, please configure correct "swift.path.sourcekite""
I have the same issue as #7 but mine doesn't seem to be resolved using the same steps.

I've installed the extension.

I've built sourckite which is located at `/Users/user/xcode/sourcekite`

I've added `"swift.path.sourcekite": "/Users/user/xcode/dev/sourcekite/.build/debug/sourcekite"` to my settings.json in VSCode

I've reloaded / disabled/re-enabled / restarted VSCode

And I get the above erro

[2018-10-04 04:33] vknabel commented on #37
Thanks for trying this out!

It seems like you placed sourcekite directly into your `xcode`-folder instead of `xcode/dev` as you configured within your settings. Or did this error happen when anonymizing the path?

[2018-10-04 15:41] mtancock commented on #37
Ugh. No you're right. I mangled the path. This should teach me to work on this kind of thing late at night.

I'm now having trouble getting code completion working, but I'm still investigating that one. Will open another issue if necessary!

[2018-10-04 15:41] #37 closed

[2018-10-05 14:16] vknabel commented on #37
No problem! This happens to everyone.

You are always welcome to open an issue, even for questions!

Are you working on an Xcode project? In that case you would need to manually provide autocompletion options (see [here](https://github.com/vknabel/vscode-swift-development-environment#how-do-i-get-autocompletion-for-uikit)). If it is a SwiftPM project, it should usually work out of the box.

[2018-10-19 07:32] l1Dan opened #38 "Report Command failed: /usr/local/bin/swiftformat --fragment --indent 4error: --fragment option expects a value"
`Error: Command failed: /usr/local/bin/swiftformat --fragment --indent 4error: --fragment option expects a valueat checkExecSyncError (child_process.js:613:13)at Object.execFileSync (child_process.js:633:13)at Object.module.(anonymous function) [as execFileSync] (ELECTRON_ASAR.js:166:20)at format (/Users/lidan/.vscode/extensions/vknabel.vscode-swiftformat-1.1.1/out/src/SwiftFormatEditProvider.js:2

[2018-10-19 07:34] l1Dan commented on #38
format code error.

[2018-10-20 08:01] vknabel commented on #38
@l1Dan thank you for your report! The new [1.1.2](https://github.com/vknabel/vscode-swiftformat/releases/tag/1.1.2) release should fix this issue.

[2018-10-20 08:01] #38 closed

[2018-10-29 06:37] #35 closed

[2018-10-29 06:38] vknabel commented on #25
As Apple announced an official language server implementation, we prefer this issue over
https://github.com/vknabel/vscode-swift-development-environment/issues/21

[2018-10-29 12:08] vknabel commented on #25
Has been shipped with [2.6.0](https://github.com/vknabel/vscode-swift-development-environment/releases/tag/2.6.0). Currently only [RLovelett/langserver-swift](https://github.com/RLovelett/langserver-swift) is supported, but once the official language server will be released, it should work out of the box.

[2018-10-29 12:08] #25 closed

[2018-11-16 17:04] vknabel opened #39 "Mirror settings of Apple‘s VS Code extension"
We should mirror all [settings of the VS Code extension](https://github.com/apple/sourcekit-lsp/blob/master/Editors/vscode/package.json) as it reduces barriers and migration issues.

More details:
https://www.vknabel.com/pages/Apples-SourceKit-LSP-and-SDE-Roadmap/

[2018-11-16 17:07] vknabel opened #40 "When Apple’s VS Code extension has been released prompt to install it"
Once the extension has been released to VS Code‘s extension registry and it is stable enough, we need to add a warning to prefer that instead if not installed yet.

This should be an opt-out.

More details:
https://www.vknabel.com/pages/Apples-SourceKit-LSP-and-SDE-Roadmap/

[2018-11-16 17:10] vknabel opened #41 "When Apple’s VS Code extension has been released and installed, disable"
Automatically disable SDE if Apple’s VS Code extension has been released and installed.

This should be an opt-out.

More details:
https://www.vknabel.com/pages/Apples-SourceKit-LSP-and-SDE-Roadmap/

[2019-02-12 10:54] mvdve commented on #35
Just to confirm, after adding my project folder to a workspace, the extension works. Otherwise i get an undefined error.

[2019-02-22 04:16] pakLebah opened #42 "sourcekite no longer works so this extension doesn't either"
Related to [this](https://github.com/vknabel/sourcekite/issues/5).

Hope it'll be fixed soon. Thank you.

[2019-03-25 07:26] vknabel commented on #42
Issue has been discussed in https://github.com/vknabel/sourcekite/issues/5

[2019-03-25 07:26] #42 closed

[2019-04-04 06:40] marijn-d opened #43 "build problem for Ubuntu 18.04"
Hello,
I'd like to try your project/extension but I cannot seem to build it. Probably overlooking something very obvious.. Does this error ring any bells by any chance? (when building from sourcekite directory)

swift build -Xlinker -l:sourcekitdInProc
warning: PackageDescription API v3 is deprecated and will be removed in the future; used by package(s): sourcekite
Compile Swift Module 'sourcekite

[2019-04-04 16:38] vknabel commented on #43
Welcome @marijn-d!

I haven’t compiled sourcekite on Linux for a while now. Maybe these install steps for making the build pass on CI help you. https://github.com/vknabel/sourcekite/blob/e7a09696e7f2ae151d22cff70dac9f70229cf7ee/.travis.yml#L103

Though I would recommend you to use Apple’s official LSP as it will improve faster and is easier to compile. https://github.com/apple/sourcekit-lsp/tree/s

[2019-04-04 18:17] marijn-d commented on #43
hi, thanks for your quick reply! I'll get started with your suggestions

[2019-04-11 14:33] #39 closed

[2019-04-11 14:35] vknabel commented on #39
Released with https://github.com/vknabel/vscode-swift-development-environment/releases/tag/2.7.0

[2019-04-11 14:37] vknabel commented on #43
I found and fixed an issue with sourcekite and Swift 5 and updated the documentation in case it may help you. https://github.com/vknabel/vscode-swift-development-environment#installation

[2019-04-11 18:10] marijn-d commented on #43
thanks for letting me know, I’ll be sure to check it out
marijn

[2019-05-12 02:56] mattflix opened #46 "Support "Rename symbol" and other refactorings?"
I am using version SDE 2.7.1.  Thanks for all your work supporting this.

I was just wondering if/when "Rename symbol" might be supported?

[2019-05-12 12:04] vknabel commented on #46
Hey @mattflix! Thanks for the feedback.

I agree that refactoring would be a great feature! Currently there are no explicit plans for this.
Though I will definitely have a look on this within the next few weeks.

[2019-08-09 13:01] lokinfey opened #53 "Unable to determine byte size"
Hi

    I need to debug swift code on linux , I set breakpoint in my code

<img width="800" alt="Screen Shot 2019-08-09 at 8 56 37 PM" src="https://user-images.githubusercontent.com/4607663/62780420-37089880-bae8-11e9-91f1-4b44dc1e67bf.png">

    I want to go to check my variable value , but it shows some error:

<img width="556" alt="Screen Shot 2019-08-09 at 8 57 21 PM" src="https://user-images.

[2019-08-09 13:31] vknabel commented on #53
Hi @lokinfey!
I wish I could help you. But the error you are experiencing is located in the [vadimcn/vscode-lldb](https://github.com/vadimcn/vscode-lldb) extension. Please open an issue there.

To help your issue being resolved fast, append relevant portions of your `launch.json` or even provide a repository containing all relevant code to reproduce the issue.

Feel free to open new issues here, i

[2019-08-09 13:32] #53 closed

[2019-08-12 01:27] kennethz3 opened #54 "Debugger error upon save"
OS: Ubuntu 18.04
VS-Code version: 1.37.0
Swift Version: 5.1-dev

Error upon saving:
`Request textDocument/completion failed.
  Message: Request textDocument/completion failed with message: Cannot call write after a stream was destroyed
  Code: -32603 `

So I installed the SDE extension and **sourcekite** thanks to your documentation :smiley:

For SDE I configured _swift.path.swift_driver_bin_ to b

[2019-08-13 06:01] vknabel commented on #54
Hi @kennethz3 thanks for your feedback!

What happens if you try to run `/usr/local/bin/sourcekite` manually from the terminal?
Does restarting the vscode window solve the issue?

Essentially the error means, that you don’t have any auto completion. Code highlighting isn’t affected, as SDE does not handle it.
In most cases the error is either produced by wrong/missing configs or by dynamic librari

[2019-08-13 06:33] vknabel commented on #43
Sourcekite now builds on top of SourceKitten and does not link sourcekitdInProc anymore.

[2019-08-13 06:33] #43 closed

[2019-08-13 09:58] kennethz3 commented on #54
Thanks @vknabel!

Reloading/restarting vscode window (and all windows) does not help the issue unfortunately.

When I run `/usr/local/bin/sourcekite` it does not print out anything, as if it is listening to further commands.
Could it be there are issues upon `make install` or maybe a problem with vs-code extension settings?

[2019-08-13 11:42] vknabel commented on #54
That there is no output when executing sourcekite is correct!

What happens if you enter the following request? (you need to include the trailing newline)

[code]

It should respond as follows

[code]

---

Could you dump your VS Code settings?

[2019-08-13 12:36] kennethz3 commented on #54
You're right, the output is just as you described :smiley:

[code]
yields:
[code]

This is everything I have in **settings.json**:
[code]

[2019-08-13 14:21] vknabel commented on #54
So sourcekite works as expected!

Regarding your **settings.json** your `swift.path.swift_driver_bin` should point to the `swift`-binary directly. Just to be sure, restart after changing your configs.

[code]

---

If that doesn't help either, could you temporarily add the following settings, restart vscode, just hover one single variable and paste all output of `Swift` below?

[code]

Thereafter

[2019-08-13 14:40] kennethz3 commented on #54
Thank you for your suggestion to modify the setting. Unfortunately it didn't really change the output, but I will still keep the setting pointing to the actual binary.

This is the log when setting those 2 options to true, and hovering over something in the code. The issue seems to have to do with the **libsourcekitdInProc.so** symlink

[code]

[2019-08-13 14:58] kennethz3 commented on #54
@vknabel I think we might have fully/partially solved the issue. The symlink was pointing to the correct file, but the symlink itself was not named correctly. I might have erroneously blindly copied the [installation instructions](https://github.com/vknabel/vscode-swift-development-environment#using-sourcekite)

[code]

So now if I remove
[code]
I don't get any logs in the OUTPUT tab, only the ini

[2019-08-13 15:31] vknabel commented on #54
Great to we got a step further! Currently I am mobile and can’t write or test a lot.
A brief search suggests that the extension passes wrong arguments (compare with [sourcekit-lsp](https://forums.swift.org/t/sourcekit-lsp-errors-trying-to-find-primary-sourcefile/18822)).

Currently you are using two flat Swift files without any Package.swift-file (which is fine and SDE should handle this correctly

[2019-08-29 15:36] haifengkao opened #55 "autocomplete for UIKit not working"
the [webpage](https://marketplace.visualstudio.com/items?itemName=vknabel.vscode-swift-development-environment) says SDE supports UIKit.
however, adding the settings from the webpage doesn't work at all.
[code]

The diagnostics still says `no such module UIKit`
Then I add the parameters to swiftBuildingParams
[code]
The diagnostics error is gone, but the UIKit autocomplete is still missing.

The t

[2019-08-30 08:31] vknabel commented on #55
Hi @haifengkao. Thanks for your feedback!

That's indeed strange and a bug!
Do you have a `Package.swift` file including a `Hi`-target? This might override your settings.
Does `swift package clean` and removing the target from your `Package.swift` help?
Does a restart of the vscode-window help?

[2019-08-30 14:53] haifengkao commented on #55
Yes
[code]

[2019-08-30 15:13] haifengkao commented on #55
I think the problem comes from `swift build`
I saw you get the compiler parameters from `.build/debug.yaml`
If I use the following command
[code]
to build the project. The `debug.yaml` will look like

[code]

If I remove the irrelevant flags in  `other-args`, I will get
[code]

Despite the SDK and target are specified in `-Swiftc` parameters, swift build will still insert `-target","x86_64-apple-m

[2019-08-31 03:52] kalkisama commented on #54
having the exact same problem =(

[2019-09-08 15:11] #55 closed

[2019-09-08 15:13] #54 closed

[2019-09-08 15:17] vknabel commented on #54
Sorry for the late response, but I did not have a lot time.

I could fix you issue. Essentially SDE did not pass some global environment variables (like `PATH`, ...).

The fix has been released as [2.8.1](https://github.com/vknabel/vscode-swift-development-environment/releases/tag/2.8.1).

[2019-09-08 15:21] vknabel commented on #55
Hi @haifengkao. Sorry for the late response, but I didn't have enough time earlier.
Summed up: the fix has been released as [2.8.1](https://github.com/vknabel/vscode-swift-development-environment/releases/tag/2.8.1).

---
After a bit of debugging I found out that `Hi.swift` within `Sources/Hi` (from the configs) wasn't recognized as `/Users/lion/tmp/SwiftTT/Sources/Hi/Hi.swift` (from `debug.yaml`)

[2019-09-09 16:45] kalkisama commented on #54
@vknabel it is working now, thanks!

[2019-09-10 10:01] haifengkao opened #57 "swift build error doesn't show diagnostics"
**Expected**
The diagnostics shows the location of error

**Actual**
The diagnostics is empty

when swift build failed, `stderr` is empty string
but `stdout` has all the error messages
if I remove `if (stderr) `, the diagnostics displays correctly.

[code]

[2019-09-10 19:01] vknabel commented on #57
@haifengkao Good catch! Would you like to create a PR for this?

[2019-09-11 18:12] kennethz3 commented on #54
Works. Thanks a lot @vknabel 👍

[2019-10-09 20:47] jonasandero opened #58 "Crash server startup"
Just built and installed sourcekit-lsp from source using swift 5.1. Configured the extension and it starts without error. Installed "Maintained Swift Development Environment" version 2.8.1 from marketplace. When I open a swift file, the server crashes with:

[code]

Ideas?

[2019-10-09 20:57] jonasandero commented on #58
Doh, didn't read the instructions - forgot to set

 "sde.languageServerMode": "sourcekit-lsp"

[2019-10-09 20:57] #58 closed

[2019-11-16 08:16] ivaylopivanov opened #59 "Syntax / error checking and debugging problems."
Hello! Thanks for the extension! I'm trying it out now and having few problems. Seems like I managed to setup it, because I'm able to build and debug the app, however some features seem to be not working. Adding screenshots:

1) Syntax error is not highlighted
2) "Local variables" section is empty
![Screenshot 2019-11-16 at 10 10 14](https://user-images.githubusercontent.com/8849904/68990252-cea12

[2019-11-18 06:55] vknabel commented on #59
Hi @ivaylopivanov! Thanks for your feedback!
I had a quick look regarding the syntax and type errors. This is a bug. It might take a bit to fix, but I will definitely work on this. 👍

Regarding the empty local variables within the debugger: please open a new issue at https://github.com/vadimcn/vscode-lldb and attach your debugging configuration.

[2019-11-20 16:02] gw0 commented on #54
Same issue with `libsourcekitdInProc.so`. Due to a non-root user my workaround is to correctly set `PATH` and `LD_LIBRARY_PATH` before starting VScode.

If I add the following to `~/.bashrc` and start VScode from console (instead from desktop icon) it works fine:

[code]

[2019-11-21 16:38] vknabel commented on #59
The latest release should fix the syntax errors! See [CHANGELOG.md#282](https://github.com/vknabel/vscode-swift-development-environment/blob/master/CHANGELOG.md#282)

[2019-11-21 16:38] #59 closed

[2019-11-21 16:41] vknabel commented on #57
Has been fixed with latest release [2.8.2](https://github.com/vknabel/vscode-swift-development-environment/releases/tag/2.8.2)

[2019-11-21 16:41] #57 closed

[2019-12-13 17:34] haifengkao commented on #57
too bad I didn't see your comment earlier :(

[2019-12-18 18:42] huangzhenwen opened #60 "Error when Using sourcekite implement"
I got the error when i using sourcekite(default) way to implement SDE.

[code]

[2019-12-18 21:54] vknabel commented on #60
Hi @huangzhenwen, thanks for your feedback!

It seems like you lost the internet connection while SwiftPM was still fetching all dependencies.

[2019-12-18 21:54] #60 closed

[2020-01-17 18:39] amal1kar opened #62 "Missing dependent swift tool, please configure correct "swift.path.swift_driver_bin""
Missing dependent swift tool, please configure correct "swift.path.swift_driver_bin"

[2020-01-20 07:53] vknabel commented on #62
Hi @amal1kar. You need to install a driver to get autocompletion. See [Installation](https://github.com/vknabel/vscode-swift-development-environment#installation).

[2020-01-20 07:53] #62 closed

[2020-02-24 09:28] vknabel commented on #22
Even though removing the debugger is a breaking change, I doubt it has any real consequences.

The documentation doesn’t refer to SDE‘s broken debugger for quite a while and encourages to use LLVM debugger.

If you are curious about how to set it up, see [Debugging Swift in VS Code](https://www.vknabel.com/pages/Debugging-Swift-in-VS-Code/)

[2020-02-24 09:28] #22 closed

[2020-03-05 17:01] haifengkao opened #63 "sourcekit-lsp returns some errors"
`sourcekit-lsp` returns some errors
![截圖 2020-03-06 上午12 48 03](https://user-images.githubusercontent.com/4080524/76004272-2f0cbc00-5f44-11ea-85b9-f51d2b4d5f38.jpg)

**Step to reproduce:**
1. install the latest sourcekit-lsp by installing Xcode 11.4 beta
https://github.com/apple/sourcekit-lsp/tree/master/Editors
2. add the following  settings to `vscode-swift-development-environment`
`Sde: Languag

[2020-03-05 21:44] vknabel commented on #63
Hi @haifengkao! Thanks for the report. I will definitely have a look on this!

[2020-03-07 11:25] vknabel commented on #63
Good news, @haifengkao! The release [2.9.0](https://github.com/vknabel/vscode-swift-development-environment/tree/2.9.0) fixes your issue.

The environment variables haven't been passed correctly to `sourcekit-lsp`.

[2020-03-07 11:25] #63 closed

[2020-04-01 06:45] haifengkao opened #68 "the completion is very slow"
When I specified the build params with `sourcekit-lsp` backend,

[code]
the completion becomes very slow. I have to wait for 2~3 secs for the completion menu to popup

The problem comes from `sourcekit-lsp` itself.
https://forums.swift.org/t/sourcekit-lsp-completion-delay-with-sublime-text/30655
`sourcekit-lsp` will dump all global variables in the SDK to a  json file without filtering.

The` sour

[2020-04-03 21:12] vknabel commented on #68
Thanks for the details!

[2020-04-08 11:34] haifengkao commented on #68
I have implemented the server-side filtering
The OS X binary and source codes can be find here
https://github.com/haifengkao/fast-sourcekit-lsp/releases

[2020-04-12 09:12] vknabel commented on #68
@haifengkao thanks for your work! Might try out your fork!

[2020-04-14 19:53] edjiang opened #69 "Large projects require 100% CPU"
When using this extension, the extension's NodeJS server pins my CPU at 100%, and the process stays even after killing VS Code. I didn't read the documentation carefully and downloaded this just for syntax highlighting, so I didn't set up a language server. Could that have been why?

 I realize now that this is for running Swift and overkill for my needs, so I've switched extensions and things are

[2020-04-15 18:26] haifengkao commented on #69
It's hard to tell.
There is a [guide](https://github.com/microsoft/vscode/wiki/Performance-Issues) for the profiling.

I had 100% CPU issue few weeks ago. The reason is that the project folder contains too many files, but I don't think it's your case.

[2020-04-15 18:44] edjiang commented on #69
Ah, that makes sense. I work at Uber and we have a large iOS monorepo and so I use VS code to browse through code instead of opening up the projects through Xcode. You can imagine it's probably the definition of "too many files" :)

Thanks!

[2020-04-18 15:39] vknabel commented on #69
@edjiang thanks for the report!
Did you pick `sourcekit-lsp` or `sourcekite` as driver (both might behave differently regarding performance)?

Does anyone of you @edjiang and @haifengkao know a huge open source Swift project where I might be able to reproduce this issue?

[2020-04-19 05:07] edjiang commented on #69
I was probably using sourcekite - as I said I didn't read the docs closely so clicked install and started using it.

I'm not sure if there's a large open source project on our size (since it's a monorepo, it has all of the apps + dependencies, and we write swift fairly verbosely), but I know when our team is looks at build tooling issues we may generate dummy code to help profile. So that'll proba

[2020-04-24 09:37] vknabel commented on #21
Now that sourcekit-lsp has landed in Xcode by default, and we switched to it in [2.10.0](https://github.com/vknabel/vscode-swift-development-environment/releases/tag/2.10.0) by default, we have a zero-config installation on macOS. 🚀

And as sourcekite is now easier to install, I might even have a another look soon.

[2020-04-24 09:39] vknabel commented on #40
First step into this direction: as sourcekit-lsp is now included in Xcode by default, we switched the default LSP to it in [2.10.0](https://github.com/vknabel/vscode-swift-development-environment/releases/tag/2.10.0)

[2020-04-27 17:16] asbe opened #71 "Running the devenv remote over SSH"
Hi, for obvious reasons I'm currently not localized as close to my GPU-servers as I'd like, and I'm currently trying to set up the devenv over Remote:SSH to use with Swift for Tensorflow.  I believe I've set the paths correctly, so I'm a bit confused about the error message I'm being thrown. Any ideas? I'm currently trying to use the languageserver bundled with the Swift for Tensorflow (sourcekit-

[2020-04-27 17:57] vknabel commented on #71
Hi @asbe!

Good catch! There was an error in the documentation.
You can remove `swift.languageServerPath` from your settings!
Instead use the following config.

[code]

Let me know if this helped you!

[2020-04-28 07:36] asbe commented on #71
Having the following config seems to work (almost - now I believe the issues are with the code I'm loading - random file from "swift-models") - I get completion and floating bubbles.

I had to set `toolchainPath` to the folder containing the local installation of Swift (i.e., `./usr/bin/...`) - slightly confusing.

[code]

[2020-05-04 14:03] tylerjames commented on #40
Does SourceKit work better in VSCode than it does in Xcode? I feel like it's pretty terrible in Xcode and I lose syntax highlighting all the time.

[2020-05-05 07:40] vknabel commented on #40
@tylerjames all, Xcode, sourcekite and sourcekit-lsp rely on SourceKit and therefore share lots of the same problems. Especially for non-SwiftPM projects, using VS Code requires a greater initial effort and doesn't provide a few features Xcode can provide (running and debugging on iOS/on Simulators, refactorings, Swift Migrations, code coverage views, ...).

But the syntax highlighting in VS Code

[2020-05-30 01:31] cloudnull opened #72 "Remote Running in containers on Linux"
Thank you for maintaining this extension. This issue is not so much a bug, but a request for review. I created an updated container definition using swift 5.2 and I would appreciate it if you could give that a look, as it relies on your extension to be successful: https://github.com/microsoft/vscode-dev-containers/pull/356

The crux of the container setup is the following settings JSON. I think it

[2020-05-31 08:43] #71 closed

[2020-05-31 08:52] vknabel commented on #69
Sadly I haven't found enough time to tackle this issue the last month and I am unsure when I have enough time.
Naively duplicating the same `fileprivate struct HelloWorld { var text = "Hello World" }` didn't lead to a quick solution. Especially as I think I rarely experienced the same behavior in smaller projects.

If there are others experiencing this or with new information, please let me know.

[2020-05-31 09:46] vknabel commented on #72
@cloudnull looks great! I haven't used vscode dev containers yet, but it looks really promising!
Might actually give it a try soon!

Feel free to open a PR that updates the readme. E.g. add a new FAQ question under FAQ.

I see two variants:
* Answer the question inside the README, keep the response short and as free as possible from external tools
* Creating a new markdown file under `docs/`, whic

[2020-06-01 12:46] cloudnull commented on #72
Thanks for the review, I'll close this out and follow up with PR to the README and docs.

Done.

I actually don't know if this is needed, I was just setting it to the workspace path which vscode autobinds, however, I play with it and see if I can delete it.

[2020-06-09 21:21] Lavmint opened #73 "Sourcekite code: -32603"
I successfully configured vscode to run with sourcekit-lsp, however it is extremely slow and I wanted to try sourcekite so I added path to sourcekite and changed mode but getting on every edit:
[code]
sde: 2.10
vscode:
1.45.1
5763d909d5f12fe19f215cbfdd29a91c0fa9208a
x64

[2020-06-10 09:43] haifengkao commented on #73
I know sourcekit-lsp is very slow, so I made a faster version
https://github.com/haifengkao/fast-sourcekit-lsp/releases
The problem of sourcekit-lsp is that it will return all symbols for every keystroke.  I add pre-filtering to remove the symbols which do not match the text typed before the cursor.

I don't use sourcekite, though.

[2020-06-11 03:42] haifengkao commented on #73
I push all my changes to master branch. I do not touch any other branches.
In fact, the changes are almost in this commit (https://github.com/haifengkao/fast-sourcekit-lsp/commit/3177e21234942ec7db4ed5bb96057700e33c86d1)

[code]
That's correct, because original sourcekit will return ALL symbols to vscode. If the header has a lot of symbols(> 10k), it will be very slow. All I did is removing the ir

[2020-07-15 00:30] rex-remind101 opened #74 "Crashing and using wrong source*"
Settings:
[code]

Output:
[code]

notice the `sourcekites` in there rather than `sourcekit-lsp`.

[2020-07-18 13:17] lokinfey opened #76 "How to Show Variables in VSCode"
hi
   I use CodeLLDB to finish sourcekit-lsp debug in window wsl 2 / ubuntu linux

   But it can not show local variables in  VSCode :

   ![Screenshot (1)](https://user-images.githubusercontent.com/4607663/87853360-d6125300-c93b-11ea-9c0f-979cee80edf5.png)

   How to set some to see my local variable

[2020-07-19 06:15] haifengkao commented on #76
I don't use CodeLLDB, sorry :(

[2020-07-19 12:29] lokinfey commented on #76
But How you set debug swift in Ubuntu .....?  Can you help me

[2020-07-19 20:58] vknabel commented on #76
Hi @lokinfey.

I am sorry to say, I currently don't have enough free space left on my mac to install an Ubuntu VM with Swift (or even a Windows).
Nonetheless please head to the [vscode-lldb extensions repository](https://github.com/vadimcn/vscode-lldb) in case you have problems with it. This project is not related to the lldb debugger.

To get valuable feedback there, provide as much information a

[2020-07-19 20:58] #76 closed

[2020-07-19 21:07] vknabel commented on #74
Hi @rex-remind101.

First of all: thanks for your report!
I currently don't have the time to have a deep look on this, but as a wild guess:
Does the error still persist after changing `sde.languageservermode` to `sde.languageServerMode` and a restart of vscode?

[2020-08-20 11:27] tamc commented on #74
I hit the same area, and fixing the case of sde.languageServerMode fixed it. Thank you!

[2020-08-20 18:42] vknabel commented on #74
Thanks for your feedback!

[2020-08-20 18:42] #74 closed

[2020-08-27 14:05] wantyapps opened #78 "When editing a C/C++ file, the "output" tab at the bottom is always showing something."

[2020-08-27 14:20] vknabel commented on #78
Hi @wantyapps!

Thanks for opening an issue.
As I currently don't have time to debug: what does it show? Can you provide the output or a screenshot?

This would be extremely helpful.

[2020-08-27 14:50] wantyapps commented on #78
<img width="1440" alt="Screen Shot 2020-08-27 at 17 50 18" src="https://user-images.githubusercontent.com/56798701/91458082-c87eb000-e88d-11ea-8585-b859b3457413.png">
Here

[2020-08-27 14:53] wantyapps commented on #78
I[16:58:54.155] <-- textDocument/didChange
I[16:58:54.659] Updating file /Users/uriarev/stuff/Programming/Projects/cr/swift/test.c with command
[]
/Library/Developer/CommandLineTools/usr/bin/clang -isysroot /Library/Developer/CommandLineTools/SDKs/MacOSX.sdk /Users/uriarev/stuff/Programming/Projects/cr/swift/test.c -fsyntax-only -resource-dir=/Library/Developer/CommandLineTools/usr/lib/clang/11.0.

[2020-08-28 07:01] haifengkao commented on #78
This output window is really annoying. How to get rid of it?

[2020-08-28 07:40] wantyapps commented on #78
I don't know! I am working on a project with both C and Swift, and this is annoying. What is this? How can I disable the "Output" Tab?

[2020-08-28 07:49] vknabel commented on #78
@wantyapps thanks for the details! Oh yes it's really annoying. You're using Apple's sourcekit-lsp not sourcekite as "driver", right?

As this extension does not control the output of sourcekit-lsp, we cannot silence the output, maybe we find a way to not focus the output.

As a temporary workaround you might try to stop it from popping up until we found a solution:

https://stackoverflow.com/a/51

[2020-08-28 08:19] wantyapps commented on #78
Can I switch to sourcekite?

[2020-08-28 08:20] wantyapps commented on #78
SPECS: macOS Catalina 10.15.6 running on 13" 2017 MacBook Pro

[2020-08-28 08:37] vknabel commented on #78
@wantyapps yes of course. You can easily switch between both drivers with this extension.

Here is how you set up sourcekite [Using Sourcekite](https://github.com/vknabel/vscode-swift-development-environment#using-sourcekite).

Depending on your project, it leads to different completions. Depending on your project, sourcekite and sourcekit-lsp have their pros and cons.

[2020-08-28 08:38] wantyapps commented on #78
Trying to switch. Does it have this bug too?

[2020-08-28 08:56] vknabel commented on #78
The panel might come up if there are more critical errors (on crashes, ...), but only in Swift files.

[2020-08-28 08:57] wantyapps commented on #78
thank you! Trying...

[2020-08-28 08:59] wantyapps commented on #78
swift build -c release
error: terminated(72): OLDPWD=/Users/uriarev __CF_USER_TEXT_ENCODING=0x1F5:0x0:0x0 LIBRARY_PATH=/usr/local/lib XPC_SERVICE_NAME=0 PREFIX=/usr/local P9K_TTY=old MFLAGS= LOGNAME=uriarev XPC_FLAGS=0x0 MAKEFLAGS=PREFIX=/usr/local SECURITYSESSIONID=186a6 HOME=/Users/uriarev SHLVL=1 CPATH=/usr/local/include P9K_SSH=0 LaunchInstanceID=15E0764A-EEEF-41CF-A9B3-D3C32806F12E TERM=xterm

[2020-08-29 08:08] wantyapps commented on #78
swift build -Xswiftc -framework -Xswiftc sourcekitd -Xswiftc -F -Xswiftc /Library/Developer/Toolchains/swift-latest.xctoolchain/usr/lib -Xlinker -rpath -Xlinker /Library/Developer/Toolchains/swift-latest.xctoolchain/usr/lib -c release
/Users/uriarev/sourcekite: error: package at '/Users/uriarev/sourcekite' is using Swift tools version 3.1.0 which is no longer supported; consider using '// swift-to

[2020-08-29 09:32] vknabel commented on #78
Did you use [vknabel/sourcekite](https://github.com/vknabel/sourcekite) or [jinmingjian/sourcekite](https://github.com/jinmingjian/sourcekite)? The latter is not supported anymore, please use [vknabel/sourcekite](https://github.com/vknabel/sourcekite).

When using Swift 5.2.4 everything worked fine for me, when cloning from master.

[code]

[2020-08-29 09:34] wantyapps commented on #78
ok... trying

[2020-08-29 09:36] wantyapps commented on #78
:D Worked!

[2020-08-29 09:43] wantyapps commented on #78
is it supposed to debug?

[2020-08-29 09:46] vknabel commented on #78
Great to hear! What do you mean with `is it supposed to debug?`?

[2020-08-29 09:47] wantyapps commented on #78
Is this extension supposed to show you the problems in your code?

[2020-08-29 09:52] vknabel commented on #78
This is mostly about autocompletion, but it does show compile errors for Swift Package Manager projects.

If you wish to attach a debugger to your Swift Package Manager project, you can follow this blog post [Debugging-Swift-in-VS-Code | vknabel.com](https://www.vknabel.com/pages/Debugging-Swift-in-VS-Code/).

[2020-08-29 09:54] wantyapps commented on #78
Thank you! I love this extension!

[2020-09-03 16:42] nrser opened #79 "Possible to use on macOS without XCode? (trying CommandLineTools / swift.org toolchain)"
Does it / should it work without XCode installed -- just `CommandLineTools` and/or the swift.org "Toolchain" [download](https://swift.org/download/#releases)?

I just have some small executables that compile file with a `Makefile` (via `xcrun --sdk macosx swiftc ...`), but would really help to have types and hints and all that. Seems like almost everyone on Mac installs XCode, but I'm stuck with a

[2020-09-14 21:33] vknabel commented on #79
Hi @nrser!
Sorry for the late response. I had quite a lot to do recently.

As of now I have never tested sourckit-lsp without Xcode installed. Does the alternative sourcekite driver work on your machine without Xcode? Might be worth a try.

To be honest testing compatibility has a relatively low priority as it takes me hours to setup and get back to daily work (uninstalling Xcode release and beta,

[2020-10-02 17:12] vknabel commented on #78
Sadly we cannot prevent the output panel from coming up when using `sourcekit-lsp` while still staying compatible.

[2020-10-02 17:12] #78 closed

[2020-10-21 15:03] fappelman opened #80 "FAQ about other build paths than .build"
When I start using the package the server fails with the message that a given directory is not found. The error message shows that the path is expected to be in the `.build` directory.

I don't have the `.build` directory, instead I have `.build-macos` and `.build-linux`. This allows me to compile and run code side by side on `macOS` and on `Linux` without them interfering with each other. (I have

[2020-10-22 08:37] haifengkao commented on #80
I think `.build` is generated by swift package manager. how do you get spm to generate `.build-macos` and `.build-linux`?
My spm generates macos codes to `.build/x86_64-apple-macosx`, not `.build-macos`

[2020-10-22 09:08] fappelman commented on #80
By providing the `--build-path` parameter to swift build:

[code]

[2020-10-22 10:08] vknabel commented on #80
@fappelman thanks for opening an issue and for clarification.
I guess your VS Code config includes `"sde.swiftBuildingParams": ["build", "--build-path", "./.build-macos"]`, right?
In that case we could detect the building parameter of the params.

@haifengkao thanks for your great support! Would you like to have a look on this? I'd be happy to help you getting started if you have any questions.

[2020-10-22 10:41] fappelman commented on #80
@vknabel As it turns out your question makes this request obsolete. I did not have those building parameters (for compilation I just used `make build`). After I added them, the errors are gone.
So please consider this the solution :-)

[2020-10-24 23:28] artemkalinovsky opened #81 "Connection to server got closed. Server will restart."
Got this error every time I open project:
[code]

[2020-10-28 11:43] vknabel commented on #81
Hi @artemkalinovsky!
Have you followed the installation instructions? https://github.com/vknabel/vscode-swift-development-environment#installation

This extension requires at least one additional tool.
Also check that your paths are configured correctly (especially for typos and spaces).

[2020-10-31 21:36] artemkalinovsky commented on #81
Hi,

I checked my settings, and now I see this error:

[code]

[2020-10-31 21:44] artemkalinovsky commented on #81
Aha, according to last string in error log, I have active https://github.com/apple/sourcekit-lsp extension.
After I've disabled it, all errors disappeared.

[2020-10-31 21:44] #81 closed

[2020-11-02 04:00] clayreimann opened #82 "Add command to restart the LSP"
I've noticed that sometimes when I add code I get the language server stuck and wind up with errors about not finding modules or functions. In such cases if I restart the extension host (which restarts the LSP) things go back to normal. However that restarts _all_ extensions running in VSCode and is rather heavy weight.

![image](https://user-images.githubusercontent.com/930039/97828730-f4efe780-1

[2020-11-03 11:37] vknabel commented on #82
Hi @clayreimann, great suggestion!

This will probably require some refactorings, but opens up lots of great improvements.

[2020-11-05 22:37] clayreimann commented on #82
@vknabel any pointers on where I can look to start this?

[2020-11-09 23:00] vknabel commented on #82
Hi @clayreimann, sorry for the late response. I'd be happy to see a PR! Thanks for considering.

Not sure if you have already seen it: the [CONTRIBUTING.md](https://github.com/vknabel/vscode-swift-development-environment/blob/master/CONTRIBUTING.md) gives a little bit of context. Though not a lot. 😅

Not sure regarding your background in VS Code extensions. This project uses yarn instead of npm, i

[2020-11-09 23:08] vknabel commented on #80
Hi @fappelman!

Nice to hear! Would be a great question for the FAQ section. Might take a while until I have the to time add it. But I guess it isn't urgent for now.

[2020-11-10 09:35] fappelman commented on #80
Good idea indeed.

[2020-11-10 19:56] avinal opened #83 "Links in the README.md are broken/not updated"
For example issue link below this header
https://github.com/vknabel/vscode-swift-development-environment/blob/master/README.md#other-questions

[2020-11-10 20:14] vknabel commented on #83
Thanks a lot @avinal! Could you find another broken link?

[2020-11-10 20:19] avinal commented on #83
Yeah I had a few yesterday, I forgot them 😅, I will see again and let you know.👍

[2020-11-11 06:23] avinal commented on #83
I think there are no more, I checked, it might be some problem in VS Code.

[2020-11-11 06:23] #83 closed

[2020-11-12 01:12] sonnguyen9800 opened #84 "Sourcekite failed to work, missing stdlib module"
Hello everyone,

Today I tried to code Swift on my Ubuntu machine, using `sourcekite` language server. I did successfully build the server, however, when i hover over some key code, the output prompted some errors involved with missing `"stdlib" `module.

The full output looks like this:

[code]

It is seem that's I lack one or more cpp header? In addition, i did install `libcurl4-openssl-dev` int

[2020-12-05 18:39] vknabel commented on #84
Hi @sonnguyen9800

Sorry for the late response. Got quite a lot to do within the last month!
Did you change your swift version after installation or do you have multiple versions installed?

Maybe recompilation might help.

[2020-12-08 10:55] sonnguyen9800 commented on #84
Hello,

I don't think that there were multiple version of Swift installed on my laptop. Also, the only version I used was the newest one.

Well, as the problem was very troublesome, I decided to use my campus's Mac to code swift instead. So this issue can be closed for now.

Best Regards

[2020-12-11 23:26] #21 closed

[2020-12-11 23:36] #79 closed

[2020-12-12 12:18] #73 closed

[2020-12-12 12:20] vknabel commented on #68
As this is can only be fixed in `sourcekit-lsp` and as there is a workaround with https://github.com/haifengkao/fast-sourcekit-lsp/releases, I will close this issue.

[2020-12-12 12:20] #68 closed

[2020-12-28 14:32] clayreimann opened #87 "Bundle extension"
The build produces a message saying that we should produce a bundle to improve startup time. It references [this guide](https://code.visualstudio.com/api/working-with-extensions/bundling-extension)

[2020-12-28 14:33] clayreimann opened #88 "Add tests"
We should add tests to the project.

[VSCode extension testing guide](https://code.visualstudio.com/api/working-with-extensions/testing-extension)

[2021-01-14 16:09] vknabel commented on #88
Yes we should. Not sure where to start though. Would it be best to start with https://github.com/vknabel/vscode-swiftlint or https://github.com/vknabel/vscode-swiftformat as they are much simpler?
And then scaling up to this project?

[2021-02-09 20:19] vknabel opened #91 "Better error messages and direct links to Github"
In a few other vscode plugins for Swift, I added alert messages which are more specific and helpful.
In case there is an unknown error message, the alert has a "Report Issue"-button which directly creates a new issue.

This dramatically improves the quality of the extension and shortens the feedback loop.

[2021-02-09 20:33] vknabel opened #92 "Experiment: try to install sourcekite and sourcekit-lsp automatically"
This is a often and for a long time requested feature which fits sourcekite and sourcekit-lsp.

For each specific Swift version, the correct sourcekit-lsp branch must be picked. On version changes, it must be recompiled.
Once installed sourcekite does not have the same problem, instead the installation requires more work.

In both cases a bash-script would be great.

A while back, I wrote a script

[2021-02-09 22:52] vknabel commented on #82
Thanks a lot @clayreimann for your great work and effort you put into your PR!

[2021-02-09 22:52] #82 closed

[2021-02-09 23:00] vknabel commented on #80
Added to the [README](https://github.com/vknabel/vscode-swift-development-environment/blob/master/README.md#id-like-to-have-a-different-build-paths-than-usually-how-can-i-achieve-that)

[2021-02-09 23:00] #80 closed

[2021-02-13 12:59] vknabel opened #93 "Mono-Repo-Support for Swift Packages"
Currently `sourcekite` and `sourcekit-lsp` and the building mechanism itself do not support non-root `Package.swift` locations.

The current workaround requires opening the same git repository multiple times. Of course this feels odd and is confusing.

At least the building mechanism and `sourcekite` should support multiple Swift Packages within a single workspace.

[2021-02-25 16:18] congnd opened #94 "Run default target doesn't work"
Thanks for such a great tool!

I'm want to use the `Run Default Target` command to quickly run the program but it doesn't seem to work as expected.
From what I can see in the output, it seems that there was no target was sent to the `swift run` command.

[code]

[2021-02-25 18:24] vknabel commented on #94
Hey @congnd! Thanks for the kind words!

Could you paste your Package.swift-file (better: or link an open source repo)?
We try to have a look on this soon. 👍

[2021-02-26 09:18] congnd commented on #94
hey @vknabel
there you go: https://github.com/congnd/FMPhotoPicker

Thanks for your rapid response.

[2021-03-02 09:12] wmorgue opened #95 "Support for creating a standalone package"
Hello 👋🏻

Can someone implement support for creating packages with a different type, like library or executable?

Some of the ideas:
1. Ask a package name.
2. Ask a package type.

[code]
3. Create package with input name and selected type.

[2021-03-04 20:06] vknabel commented on #95
Hi @wmorgue!

I didn't try, but it seems like this extension already implements your requested features: https://github.com/cgrevisse/swift-project-creation

[2021-03-04 20:07] #95 closed

[2021-03-04 22:13] vknabel commented on #94
Hey @congnd!

The latest [2.11.2](https://github.com/vknabel/vscode-swift-development-environment/releases/tag/2.11.2) release now fixes your problem. Though as your linked repository does not contain any executables, it will still fail, but with a different error:

[code]

[2021-03-04 22:13] #94 closed

[2021-03-21 22:05] CodingMarkus commented on #78
The entire bug report and all follow up here is not even once talking about the actual issue itself, meaning the reason why the console is opening, since fixing that issue will prevent it from opening. The fact that it is opening is no issue at all, it is supported to open when it runs into an error. It is just not support to run into errors all the time.

The actual error is that the LSP client t

[2021-03-22 00:33] tw-space opened #97 "Build error: root manifest not found"
I'm new to... everything. Sorry if I'm asking a completely silly question.

I'm learning Swift/UI. After creating a SwiftUI App project in XCode, I installed your extension to edit `ContentView.swift` in VSCode (needing nvim). I started getting errors right away, and I don't know what they mean:

[code]

and

[code]

I set `sourcekit-lsp.serverPath` to the path given by `xcrun -f sourcekit-lsp` an

[2021-03-22 13:20] vknabel commented on #78
Hey @CodingMarkus!

I agree on this: the actual error is that methods are being called, although they are not supported. Opening the panel is a feature, telling the users that something unexpected happened.

But from my perspective, this extension is not responsible for the bug itself. I did not explicitly mention it or explained why, due to the lack of time.

In general:
- this extension starts a

[2021-03-22 14:21] vknabel commented on #97
Hi @tw-space!

No problem! Learning anything new is hard for everyone. Especially errors within the tooling are especially hard to get!

The Root Manifest refers to a `Package.swift` file of the [Swift Package Manager](https://swift.org/package-manager/) (short SwiftPM, SPM). And this extension requires a Swift Package (a project for the SwiftPM) to function.

That's why you get both errors.

Proj

[2021-03-24 02:08] tw-space commented on #97
Thank you @vknabel for the response! Identifying Swift Packages and Xcode Projects as separate things helped me make sense of it all, thank you! Also great to know they can be "wired up" — I'll look into how complicated that is now I know it's possible.

Cheers!

[2021-03-24 02:08] #97 closed

[2021-05-04 18:13] j-f1 opened #99 "Add option to never show output tab"
Currently, if the build fails, the output tab is forcibly opened (due to this line of code)

https://github.com/vknabel/vscode-swift-development-environment/blob/843706ba246b60ffb6b8bc7dd221ed778aa9df36/src/toolchain/SwiftTools.ts#L139

Since the Problems tab displays much richer output, it would be great to have an option to never show the raw output (or perhaps only display raw output if parsing

[2021-06-10 00:14] jkristia opened #104 "Support for xcodeproj build"
I am trying to get the plugin working with a MacOS xcodeproj (SwiftUI).
The command line to build the project is
`xcodebuild -project projext.xcodeproj`

I tried to modify `sde.swiftBuildingParams` to ["xcodebuild", "-project", "project.xcodeproj"]
This is my .vscode/settings.json
[code]

But I get this error when starting

[code]

Is there a setting for this availalbe somewhere ?

[2021-06-21 18:07] Feuermurmel opened #106 "Suggestion: Provide default configuration for sourcekit-lsp.serverPath on macOS"
On macOS `sourcekit-lsp` can be run using `xcrun sourcekit-lsp`, which works regardless of which Xcode version is installed. I.e. `/usr/bin/xcrun sourcekit-lsp` could be used as the default value for `sourcekit-lsp.serverPath`. (it does not work right now, but it could be made to work). This would make using setting up SDE on macOS a bit quicker for new users.

[2021-07-14 19:33] vknabel commented on #106
It's a great suggestion. I didn't find enough time to implement it.
PRs welcome.

[2021-07-14 19:40] vknabel commented on #104
Hi @jkristia.

Ideally you'd need to move most of your code into a swift package manager project. Then add the package itself to your Xcode Workspace. Then, if you open the package in vscode, you will receive autocompletion and you will get your code compiled.

In case this doesn't fit your needs, I'd be happy to for any contributions. To be honest, I wouldn't have enough time to tackle this issue

[2021-07-14 19:42] vknabel commented on #99
Not sure when I have enough time to tackle this. PRs welcome.

[2021-07-19 16:36] alexspurling opened #107 "Cannot navigate around my code"
This is a two part issue. Firstly, there does not appear to be any documentation that lists the features of the extension, hence I don't know whether to file a bug or a feature request.

Secondly, when I ctrl click on a symbol, nothing happens. Instead, I would expect be navigated to where it is defined. This is a feature of the Javascript editor in VSCode for example.

Is this already a feature o

[2021-07-19 22:21] vknabel commented on #107
Hi @alexspurling!

As this extension supports different language servers for Swift, I don't explicitly document both. As both language servers rely on the same underlying driver, they might also share the same caveats or shortcomings.

Can you share your example project, settings, the used swift version and platform? That way I can best figure out why jump to definition does not work in your case.

[2021-07-22 09:28] alexspurling commented on #107
I think this is my settings.json file. For some reason I cannot see the values of all of the settings though so I assume they adopt some default value.

[code]

I am using Ubuntu 20.04 and installed Swift from here: https://swift.org/download/

I installed sourcekite according to the instructions here, although as you can see I changed the PREFIX to "/home/alexs/apps/sourcekite": https://github.co

[2021-07-26 09:13] vknabel commented on #107
Hey @alexspurling

I probably won't have enough time try replicate your setup, but it might already help if you switch to using the Swift Package Manager.

In that case you don't have to explicitly define `swift.targets`.

That way the auto-build functionality should automatically work. This might be the reason why jump to definition does not work in your case.

Hope this helps!

[2021-07-26 11:43] alexspurling commented on #107
Hi @vknabel how do I switch to using the Swift Package Manager?

[2021-07-26 12:40] vknabel commented on #107
You can check this [Introduction to swift package manager](https://www.raywenderlich.com/1993018-an-introduction-to-swift-package-manager).

[2021-07-26 13:21] alexspurling commented on #107
Thanks. Unfortunately, it won't be possible for me to change the project structure of our app as I don't have the required experience to do that. I inherited the project from an iOS developer team and don't want to make such drastic changes just to be able to get code navigation in my IDE.

In general, does the Swift VSCode extension work with iOS apps built with Xcode? Is it intended only for ser

[2021-07-26 20:33] vknabel commented on #107
This extension works best for command line tools and server side applications.

There are ways to make it work for very basic iOS development, but only on macs.

[2021-10-09 18:54] fphartnc opened #111 "SDE not activated; uncaught error "Cannot read property 'map' of null""
Sorry to bother you so soon after my sourcekite issue, but I just noticed that the SDE does not get activated.  [And no, the two are not related as this was the first time I attempted to use the SDE -- or at least the first where I was paying attention.]  I am seeing the following in Runtime Status:  Not yet activated.   And below that, there is a list of "Uncaught Errors (1)" with the detail "Req

[2021-10-18 06:29] #107 closed, assigned to nobody

[2021-10-21 21:23] fphartnc commented on #111
Bump... Herr K., do you expect to have time to look into this in the near future?  I ask because I am also having nothing but trouble getting the separate extension to use Apple's sourcekit-lsp built.  That is *not* your problem, but I had expected to be easily able to use Apple-supported tools until you could look into the issue above, but this apparently is *not* the case as Apple's GitHub docum

[2021-10-24 00:31] fphartnc commented on #111
Hey, @vknabel, looks like SDE 2.12.2 has no issues with starting up and running, so the bug appears to be fixed!  I am seening a problem with hover comments getting stuck (at "Loading...") with SDE whereas they work with the plain sourcekit-LSP and extension, but that may well be an operator error (configuration problem).   Unless you want to track that here, I suggest closing and I'll continue wo

[2021-10-27 19:50] vknabel opened #112 "Indefinitely loading instead of suggestions"
from https://github.com/vknabel/vscode-swift-development-environment/issues/111#issuecomment-950237972 by @fphartnc

[2021-10-27 19:54] #111 closed, assigned to vknabel

[2021-10-30 18:18] fphartnc commented on #112
Update:  I now have uninstalled version 1.61.2 and done a fresh installation of version 1.60.2, and I seem to be back to where I was at the time this issue was opened:  Sourcekit-LSP seems to work just fine on my standalone swift file, showing hover hints.  But SDE/sourcekite shows "Loading..."  One other thing I can report:  Down in the lower left status area, I am seeing a message that says "bui

[2021-10-30 22:14] vknabel commented on #112
Thanks for the updates! I won't have access to a laptop for about a week, but I'd be happy to help.

SDE works best for Swift Package Manager projects. In those cases it should work relatively well for Linux and macOS projects. iOS, Tensorflow for Swift and others require some additional setup.

SDE will now automatically build your SwiftPM targets. That creates an index of your source code and ty

[2021-12-01 19:37] fangmobile commented on #69
+1
First go to activity monitor to find the PID of the code Helper, then in terminal (replace 51785 with your PID)
`ps aux | grep 51785`

you will see
           `51785  98.7  0.4 42423476  60756   ??  R    11:29AM   1:31.34 /Applications/Visual Studio Code.app/Contents/Frameworks/Code Helper (Renderer).app/Contents/MacOS/Code Helper (Renderer) --ms-enable-electron-run-as-node --nolazy --inspect=6

[2021-12-25 23:10] vknabel commented on #40
As [announced on the forums] the swift server group has released an official [VS Code extension](https://forums.swift.org/t/introducing-swift-for-visual-studio-code/54246). So this phase of depreciation can start.

[2021-12-25 23:16] vknabel commented on #41
Will be handled in #40

[2021-12-25 23:16] #41 closed

[2021-12-25 23:17] vknabel commented on #46
No plans to implement due to #40

[2021-12-25 23:17] #46 closed

[2021-12-25 23:48] vknabel commented on #69
Hey, does the same behavior happen when using the [official Swift extension](https://marketplace.visualstudio.com/items?itemName=sswg.swift-lang)? See #40

[2022-03-16 12:52] JulianKingman opened #115 "EACCESS error on loading vscode"
I get the following error on VS Code startup:
[code]

Any ideas what it's about? Thx!

[2022-03-18 19:33] vknabel commented on #115
Hey @JulianKingman, thanks for opening an issue.

I suppose you want to use sourcekite, right?
In which operating system do you run?

Could you also drop your configs regarding Swift?

Have you installed [sourcekite](https://github.com/vknabel/vscode-swift-development-environment#using-sourcekite), yet?

[2022-06-03 08:31] segabor opened #118 "Extension not available in Open VSX Registry"
Today I switched over to [vscodium](https://vscodium.com) but the extension was not not listed in the [Open VSX Registry](https://open-vsx.org), an open alternative to VSCode Marketplace.

I made the extension work by manually copying it from the existing `.vscode/extensions` folder under `.vscode-oss`.

[2022-06-03 09:45] segabor commented on #118
I just learned that vscodium uses [Open VSX Registry](https://open-vsx.org/?search=swift&category=&sortBy=relevance&sortOrder=desc) to provide extensions for vscodium.

[2022-06-12 08:51] #115 closed

[2022-06-12 08:51] vknabel commented on #115
Closed to to inactivity

[2022-06-12 09:30] vknabel commented on #118
@segabor good news!
I just [released](https://open-vsx.org/?search=vknabel&category=&sortBy=relevance&sortOrder=desc) my actively maintained vscode extensions.

[2022-06-12 09:30] #118 closed

[2022-06-12 09:32] #69 closed

[2022-06-12 09:32] #84 closed

[2022-06-12 09:32] #88 closed

[2022-06-12 09:32] #91 closed

[2022-06-12 09:32] #92 closed

[2022-06-12 09:32] #93 closed

[2022-06-12 09:32] #99 closed

[2022-06-12 09:32] #106 closed

[2022-06-12 09:32] #112 closed

[2022-06-12 09:32] #87 closed

[2022-06-12 18:07] segabor commented on #118
Awesome! Thank you.

[2022-07-15 04:07] #40 closed